# Streamlit core library
streamlit==1.17.0

# Data manipulation and plotting libraries
pandas==1.3.3
plotly==5.3.1

# InfluxDB client
influxdb-client==1.21.0

# Requests (used for alerts)
requests==2.26.0

# Scikit-learn (for anomaly detection models)
scikit-learn==0.24.2

# SQLiteCloud client
sqlitecloud==0.3.0

# NumPy (for numerical calculations)
numpy==1.21.2
